@mixin breakpoint($point) {
  @if $point == 'mobile' {
      //420
    @media screen and (max-width:667px) { @content; }
  }
  @else if $point == 'desktop' {
      //421
    @media screen and (min-width:668px) { @content; }
  }

}

body{
	background:#fff;
}


.wrap{
	width:500px;
	margin:0 auto;
	@include breakpoint('mobile'){
		width:100%;
	}

	.video-container {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
		margin-bottom:10px;

		iframe, object, embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}

		img{
			width:100%;
		}
	}

}
